= provide :title, 'Gallery'
%h1 Gallery
= render 'gallery_form'

.artwork-gallery.clearfix
  -@artworks.each do |artwork|
    .artwork
      %h2
        #{ link_to artwork.name, artwork }
      #{ link_to image_tag(artwork.attachment.url(:normal)), artwork  }
      - if current_user
        .admin-buttons
          %ul
            %li
              = button_to :Edit, edit_artwork_path(artwork), { method: :get }
            %li
              = button_to :Delete, artwork, { method: :delete, data: { confirm: "Delete: #{artwork.name}?" } }
- if current_user
  .general-buttons
    %ul
      %li
        = button_to "Publish New", new_artwork_path, { method: :get }
