%h1 Listing artworks

%table
    %tr
        %th Name
        %th Description
        %th File

    -@artworks.each do |artwork|
    %tr
        %td #{ artwork.name }
        %td #{ artwork.description }
        %td #{ image_tag artwork.attachment }
        %td #{ link_to 'Show', artwork }
        %td #{ link_to 'Edit', edit_artwork_path(artwork) }
        %td #{ link_to 'Destroy', artwork, method: :delete, data: { confirm: 'Are you sure?' } }
%br
#{ link_to 'Publish New', new_artwork_path }
