<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artwork.name %>
</p>

<p>
  <b>Image:</b>
  <%= @artwork.attachment %>
</p>

<p>
  <b>Description:</b>
  <%= @artwork.description %>
</p>

<p>
  <b>Type:</b>
  <%= @artwork.type_id %>
</p>


<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
