<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artwork.name %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @artwork.attachment, alt: @artwork.name %>
</p>

<p>
  <b>Description:</b>
  <%= @artwork.description %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
